.text-decorator-none{
    text-decoration: none;
}

.lis-tema-box{
    background-color: #7ED957 !important;
    color: white !important; 
    box-shadow: 0 0 20px 8px #54a730 ;
    padding: 15px;
    width:fit-content ;
    margin: 50px;
    margin-top: 15px;
    text-align: center;
}

.justifyCard{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

/* .caixa {
    background:linear-gradient(rgba(0, 250, 75, 0.5),transparent);
} */