.cardPropUsuario{
    padding: 3px !important;
    background-color: rgb(173, 255, 173) !important;
}

.tituloCard{
    font-weight: bold !important;
    color: darkgreen !important;
    font-size: larger !important;
    margin-bottom:7px !important;
    font-family: fangsong !important;
}

.textoCard{
    color: black !important;
}

.linksCards{
    text-decoration: none !important;
    cursor: pointer !important;
    color: black !important;
}

.nomeCards{
    text-transform: 'capitalize' !important;
    font-size: large !important;
    font-weight: bold !important;
    font-family: cursive !important;
}

.imgCards{
    width: 102%;
    border-radius: 50%;
}

